<link rel="stylesheet" href="views/title1/style.css" />

<div class="left_slider">
    <div class="left_slider_inner">
        <div class="setdata_handle">
            <div class="clearfix">
                <button class="btn btn-primary btn-sm" ng-click="isAddGroup=!isAddGroup;isAddSetData=false">添加分组</button>
                <button class="btn btn-primary btn-sm" ng-click="isAddSetData=!isAddSetData;isAddGroup=false">添加项目</button>
            </div>
            <!-- 添加分组 -->
            <form name="addGroupForm" class="addGroupForm" ng-if="!!isAddGroup" novalidate ng-submit="saveGroup(addGroupForm.$valid)">
                <div class="form-group" ng-class="{'has-error has-feedback':(!addGroupForm.groupName.$pristine && addGroupForm.groupName.$error.required)}">
                    <label for="">名称：</label>
                    <input type="text" class="form-control" ng-model="currentGroup.name" name="groupName" required>
                    <span class="text-danger" ng-show="!addGroupForm.groupName.$pristine && addGroupForm.groupName.$error.required">名称不能为空！</span>
                    <span class="text-danger" ng-show="groupFormState.name">名称不能为空！</span>
                </div>
                <div class="clearfix text-right">
                    <button type="submit" class="btn btn-info btn-sm">保存</button>
                    <button class="btn btn-warning btn-sm" ng-click="cancelGroup()">取消</button>
                </div>
            </form>
            <!-- 添加项目 -->
            <form name="addSetDataForm" class="addSetDataForm" ng-if="!!isAddSetData" novalidate>
                <div class="form-horizontal">
                    <div class="form-group" ng-class="{'has-error':addSetDataForm.setDataName.$dirty && addSetDataForm.setDataName.$error.required}">
                        <label class="col-sm-3 control-label">名称：</label>
                        <div class="col-sm-9">
                            <input type="text" name="setDataName" class="form-control" ng-model="currentSetData.name" required>
                            <span class="text-danger" ng-show="addSetDataForm.setDataName.$dirty && addSetDataForm.setDataName.$error.required">名称不能为空！</span>
                        </div>
                    </div>
                    <div class="form-group">
                        <label for="" class="col-sm-3 control-label">分组：</label>
                        <div class="col-sm-9">
                            <select class="form-control" name="setDataGroupId" ng-model="currentSetData.groupid" ng-options="group.id as group.name for group in groups">
                                <option value="">default group</option>
                            </select>
                        </div>
                    </div>
                </div>
                <div class="clearfix text-right">
                    <button class="btn btn-info btn-sm" ng-click="saveSetData(addSetDataForm.$valid)">保存</button>
                    <button class="btn btn-warning btn-sm" ng-click="cancelSetData()">取消</button>
                </div>
            </form>
        </div>

        <!-- 列表树 -->
        <div ui-tree data-drag-enabled="false">
            <ol ui-tree-nodes ng-model="groups" data-collapsed="true">
                <li ng-repeat="group in groups" ui-tree-node ng-include="'views/title1/groupTree.html'"></li>
            </ol>
        </div>
    </div>
</div>

<div class="main_content">
    <h1>Hi,baby!!</h1>
</div>