/*********** 左侧栏操作 ***********/

.metadata_handle {
    position: absolute;
    left: 0;
    top: 0;
    right: 0;
    z-index: 19;
    padding: 10px;
    background-color: #ffffff;
    border-bottom: 2px solid #C5C1C1;
}

.addGroupForm {
    padding: 20px;
}

.addMetaDataForm {
    padding: 20px 15px;
}

.searchMetaDataForm {
    padding: 20px;
}

.table_handle {
    /*-webkit-transition: all 0.3s ease-out;
    -moz-transition: all 0.3s ease-out;
    transition: all 0.3s ease-out;*/
    
    color: inherit;
    display: inline-block;
    margin: 0 5px;
    font-size: 16px;
}
/*********** 主体内容样式 ***********/

.main_content {
    padding: 15px;
}

.field_handle .btn {
    padding: 3px 25px;
}

.field_list {
    margin-top: 15px;
}
